Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

Update src/components/RepositoryGoals.js
  src/components/RepositoryGoals.js
Due: eslint --fix

StorybookJs Infracture setup
  .github/workflows/storybook.yml
Due: none

Minor fix to storybook docs. The section making changes to Storybook section was a bit unclear because of formatting and lack of context to explain what the section was for.
  docs/storybook.md
Due: none

fix safari bug
  src/images/darkMode.svg
Due: none

solve the sort elignment css
  src/components/ListGoals.js
  src/styles/Search.js
Due: eslint --fix

update darkMode.svg
  src/images/darkMode.svg
Due: none

fixed the inline style issue
  src/components/ListGoals.js
  src/index.css
Due: eslint --fix, stylefmt

fix: dark mode dashboard hover
  src/styles/List.js
Due: eslint --fix

feat: storybook dark mode
  .storybook/index.css
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  package.json
  src/styles/Background.js
Due: eslint --fix, stylefmt

push npm-shrinkwrap
  npm-shrinkwrap.json
Due: none

working bump action
  npm-shrinkwrap.json
  package.json
  src/lib/bumpVersion.js
Due: eslint --fix

feat: social editor, first crack
  npm-shrinkwrap.json
  package.json
  src/components/NoteEditor.js
  src/components/NoteForm.js
Due: eslint --fix

fix(npm): restored apollo-boost dependency resolution after github button fail
  npm-shrinkwrap.json
Due: none

fix(ci): added proper release management resolution
  .github/workflows/ci.yml
Due: none

doc: add a Learn With Jason doc
  docs/learnwithjason.md
Due: none

feat: add a GitHub Action to check for a linked issue
  .github/workflows/check-linked-issue.yml
Due: none

removed Arvo font references from Hero.js
  src/styles/Header/Hero.js
Due: eslint --fix

ci: deduplicate release action
  .github/workflows/ci.yml
Due: none

chore(npm): update minor dependencies
  npm-shrinkwrap.json
  package.json
Due: none

fix: no fast forward cleaned merge
  npm-shrinkwrap.json
Due: none

chore(release): 0.21.17
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
