Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

remove yarn.lock
  yarn.lock
Due: none

new pizza favicon
  package-lock.json
  public/favicon.ico
Due: none

adds mobile icons
  public/android-icon-144x144.png
  public/android-icon-192x192.png
  public/android-icon-36x36.png
  public/android-icon-48x48.png
  public/android-icon-72x72.png
  public/android-icon-96x96.png
  public/apple-icon-114x114.png
  public/apple-icon-120x120.png
  public/apple-icon-144x144.png
  public/apple-icon-152x152.png
  public/apple-icon-180x180.png
  public/apple-icon-57x57.png
  public/apple-icon-60x60.png
  public/apple-icon-72x72.png
  public/apple-icon-76x76.png
  public/apple-icon-precomposed.png
  public/apple-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-96x96.png
  public/manifest copy.json
  public/manifest.json
  public/ms-icon-144x144.png
  public/ms-icon-150x150.png
  public/ms-icon-310x310.png
  public/ms-icon-70x70.png
Due: none

leverage identity ids to save data
  open-sauced.schema
  src/App.js
  src/components/Login.js
  src/containers/Dropdown.js
  src/containers/NewRepo.js
  src/containers/NewRepoForm.js
  src/containers/NoteForm.js
  src/containers/Repositories.js
  src/containers/Repository.js
  src/queries/index.js
  src/queries/repoQueries.js
  src/queries/viewerQueries.js
Due: eslint --fix

limit local storage usage
  package-lock.json
  package.json
  src/App.js
  src/containers/Dropdown.js
  src/containers/NewRepo.js
  src/containers/NewRepoForm.js
  src/containers/NoteForm.js
  src/containers/Repositories.js
  src/queries/repoQueries.js
  src/tests/NoteForm.test.js
Due: eslint --fix

working deletion and note saving
  src/containers/NewRepoForm.js
  src/containers/NoteForm.js
  src/containers/Repositories.js
Due: eslint --fix

working data saving per user
  src/App.js
  src/containers/NewRepoForm.js
  src/containers/NoteForm.js
  src/containers/Repositories.js
  src/queries/index.js
  src/queries/repoForm.js
  src/queries/viewerQueries.js
Due: eslint --fix

removes console
  src/containers/NewRepoForm.js
Due: eslint --fix

Changes implements Node to @model in open-sauced.schema
  open-sauced.schema
  yarn.lock
Due: none

Changes DateTime to the required DateTime! in open-sauced.schema
  open-sauced.schema
  yarn.lock
Due: none

Changes DateTime to the required DateTime! for updatedAt in open-sauced.schema
  open-sauced.schema
Due: none

updates to react 16.2
  package-lock.json
  package.json
Due: none

fix erroneous tests
  src/tests/Count.test.js
  src/tests/Instructions.test.js
Due: eslint --fix

upgrade test suite an ddepencies for react 16
  config/polyfills.js
  package-lock.json
  package.json
  src/setupTestFramework.js
  src/tests/Repositories.test.js
  src/tests/mocks/data.js
  src/tests/mocks/index.js
  src/tests/mocks/localStorage.js
Due: eslint --fix

fix test ci
  package.json
Due: none

use graphql framework
  README.md
  graphcool.yml
  types.graphql
Due: none

use graphql framework schema for graphql-up link
  README.md
  open-sauced.schema
Due: none

fixes broken graphcool deployments
  .graphcoolrc
  types.graphql
Due: none

fixes header test
  package.json
  src/tests/Header.test.js
Due: eslint --fix

adds octokit
  package-lock.json
  package.json
Due: none

working login and logout with github
  package-lock.json
  package.json
  src/App.js
  src/components/Header.js
  src/components/Login.js
  src/containers/Repositories.js
  src/index.js
  src/lib/identityActions.js
  src/tests/Header.test.js
Due: eslint --fix

working test for identity actions
  package-lock.json
  package.json
  src/lib/identityActions.test.js
Due: eslint --fix

adds missing mock library
  package-lock.json
  package.json
Due: none

updates dependencies
  package-lock.json
  package.json
Due: none

revery webpack-dev-server to fix webpack 4.0.0 failure
  package-lock.json
  package.json
  src/App.js
  src/containers/Issues.js
  src/containers/NewRepoForm.js
  src/containers/NoteForm.js
  src/containers/Repositories.js
Due: eslint --fix

update favicon
  public/android-icon-144x144.png
  public/android-icon-192x192.png
  public/android-icon-36x36.png
  public/android-icon-48x48.png
  public/android-icon-72x72.png
  public/android-icon-96x96.png
  public/apple-icon-114x114.png
  public/apple-icon-120x120.png
  public/apple-icon-144x144.png
  public/apple-icon-152x152.png
  public/apple-icon-180x180.png
  public/apple-icon-57x57.png
  public/apple-icon-60x60.png
  public/apple-icon-72x72.png
  public/apple-icon-76x76.png
  public/apple-icon-precomposed.png
  public/apple-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-96x96.png
  public/favicon.ico
  public/manifest.json
  public/ms-icon-144x144.png
  public/ms-icon-150x150.png
  public/ms-icon-310x310.png
  public/ms-icon-70x70.png
Due: none

adds style
  src/App.js
  src/components/Footer.js
  src/components/Login.js
  src/components/logo1.svg
  src/components/logo2.svg
  src/components/logo3.svg
  src/components/logo4.svg
  src/components/logo5.svg
  src/components/logo6.svg
  src/components/logo7.svg
  src/components/logo8.svg
  src/components/sauce-anchor.svg
  src/index.css
  src/styles/Button.js
  src/styles/Typography/AccentLink.js
  src/styles/Typography/PrimaryLink.js
  src/styles/variables.js
Due: eslint --fix, stylefmt

updates slogan copy
  src/components/Login.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
