Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

404 page improved along with chat bubble texts
  src/containers/App.js
  src/images/404.svg
  src/images/chat-bubble.svg
  src/images/index.js
  src/styles/NotFound.js
Due: eslint --fix

chat bubbles removed in favor of a cleaner look
  src/containers/App.js
  src/images/chat-bubble.svg
  src/images/index.js
  src/styles/NotFound.js
Due: eslint --fix

prevent welcome check with dependabot
  .github/workflows/welcome.yml
Due: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(release): 0.18.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix version for welcome.yml
  .github/workflows/welcome.yml
Due: none

Delete mirror-master-and-main.yml
  .github/workflows/mirror-master-and-main.yml
Due: none

Migrated Storybookjs to v6.0.28
  .storybook/addons.js
  .storybook/config.js
  .storybook/main.js
  .storybook/webpack.config.js
  package-lock.json
  package.json
  stories/2-Card.stories.js
  stories/5-Footers.stories.js
  stories/6-Home.stories.js
  stories/7-Hero.stories.js
Due: eslint --fix

Make opning in new tabs consistend
  src/components/Nav.js
Due: eslint --fix

Also update Storybooks
  stories/4-Nav.stories.js
  stories/6-Home.stories.js
Due: eslint --fix

Update index.css
  src/index.css
Due: stylefmt

feat: improve index.css
  src/index.css
Due: stylefmt

Deploying to storybook-static from @ 15e845cc7b1547ee2906033176e899a9aa383a82 🚀
  iframe.html
  main.39f1dd234a4221bd6aa6.bundle.js
  main.39f1dd234a4221bd6aa6.bundle.js.map
  runtime~main.39f1dd234a4221bd6aa6.bundle.js
  runtime~main.39f1dd234a4221bd6aa6.bundle.js.map
  vendors~main.39f1dd234a4221bd6aa6.bundle.js
  vendors~main.39f1dd234a4221bd6aa6.bundle.js.LICENSE.txt
  vendors~main.39f1dd234a4221bd6aa6.bundle.js.map
Due: eslint --fix

refactor: :zap: Adapt visual hierarchy & font-size for issues inside a repo
  src/components/IssueListItem.js
Due: eslint --fix

fix: make sizes rem based instead of absolute pixelsTo make fonts better readable on larger resolutions/displays the sizes should be relative not absolute.
  src/index.css
  src/styles/variables.js
Due: eslint --fix, stylefmt

refactor: :art: Introduce new variable for font sizes and adapt all fonts to be 16px as smallest
  package-lock.json
  src/components/DetailInfo.js
  src/components/Footer.js
  src/components/Hero.js
  src/components/IssueListItem.js
  src/components/ListGoals.js
  src/components/Repository.js
  src/styles/Button.js
  src/styles/Card.js
  src/styles/EmptyPlaceholder.js
  src/styles/Header/AdminNav.js
  src/styles/Header/Heading.js
  src/styles/Header/Hero.js
  src/styles/Header/HomeNav.js
  src/styles/Header/SubHeading.js
  src/styles/Input.js
  src/styles/List.js
  src/styles/NotFound.js
  src/styles/Search.js
  src/styles/Select.js
  src/styles/TextArea.js
  src/styles/Typography/AccentLink.js
  src/styles/Typography/FontSizes.js
  src/styles/Typography/SubtleLink.js
  src/styles/variables.js
Due: eslint --fix

refactor: Adapt h1 sizing for some elements to previous size
  src/styles/Card.js
  src/styles/Header/Hero.js
  src/styles/variables.js
Due: eslint --fix

refactor: Revert some relative CSS values back to absolute
  src/index.css
  src/styles/variables.js
Due: eslint --fix, stylefmt

Deploying to storybook-static from @ 880889b41a5af960a36f71d6d9797c4c88050b37 🚀
  iframe.html
  main.6813b03614a6d58bc6cd.bundle.js
  main.6813b03614a6d58bc6cd.bundle.js.map
  runtime~main.6813b03614a6d58bc6cd.bundle.js
  runtime~main.6813b03614a6d58bc6cd.bundle.js.map
  vendors~main.6813b03614a6d58bc6cd.bundle.js
  vendors~main.6813b03614a6d58bc6cd.bundle.js.LICENSE.txt
  vendors~main.6813b03614a6d58bc6cd.bundle.js.map
Due: eslint --fix

Just testing, don't mind this PR
  README.md
Due: none

Delete auto-merge-dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Reformat readme
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
