Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.css": [
    "stylefmt",
    "git add"
  ]
}

chore(release): 0.20.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: dark mode
  src/index.css
  src/styles/Card.js
  src/styles/List.js
  src/styles/Search.js
Due: eslint --fix, stylefmt

more color changes for dark mode
  src/components/IssueListItem.js
  src/components/Repository.js
  src/styles/Card.js
  src/styles/Header/Hero.js
Due: eslint --fix

colors more like issue discussion
  src/index.css
  src/styles/List.js
  src/styles/variables.js
Due: eslint --fix, stylefmt

chore(release): 0.20.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

implement theme context & body class
  src/ThemeContext.js
  src/components/IssueListItem.js
  src/components/Nav.js
  src/components/ThemeButtonGroup.js
  src/containers/App.js
  src/index.css
  src/styles/Card.js
  src/styles/Header/Hero.js
  src/styles/Input.js
  src/styles/List.js
  src/styles/Search.js
Due: eslint --fix, stylefmt

new icons
  src/images/darkMode.svg
  src/images/lightMode.svg
  src/images/themeAuto.svg
Due: none

move buttons
  src/components/Nav.js
Due: eslint --fix

use icons
  src/components/ThemeButtonGroup.js
Due: eslint --fix

listen to system theme
  src/containers/App.js
Due: eslint --fix

build(npm): added project based npm configuration and loggable production audit
  .github/workflows/ci.yml
  .npmrc
Due: none

update for svg images
  src/index.css
Due: stylefmt

use color inversion on svg's
  src/components/Hero.js
  src/components/IssueListItem.js
  src/components/ListGoals.js
  src/components/RepoListItem.js
Due: eslint --fix

text color updates
  src/styles/Card.js
  src/styles/List.js
Due: eslint --fix

better theme switching (i think)
  src/containers/App.js
Due: eslint --fix

filter:invert(), update for react-loading-skeleton
  src/components/RecommendedRepoList.js
  src/components/Repository.js
  src/index.css
Due: eslint --fix, stylefmt

update more languages span
  src/styles/Card.js
Due: eslint --fix

Add to README
  README.md
Due: none

add margin to theme buttons
  src/components/ThemeButtonGroup.js
Due: eslint --fix

pull pizza so you can click theme button
  src/styles/Header/Hero.js
Due: eslint --fix

fix firefox & add color for select
  src/index.css
Due: stylefmt

text color tweaks for forms & icons
  src/components/DetailInfo.js
  src/styles/Card.js
  src/styles/Input.js
  src/styles/Search.js
  src/styles/TextArea.js
Due: eslint --fix

handle search background in dark mode
  src/icons/index.js
  src/icons/searchDark.svg
  src/styles/Search.js
Due: eslint --fix

Deploying to storybook-static from @ 3af648e3f18d1b2b08ac76a35e482a41c4f19816 🚀
  0.443e8ce4.iframe.bundle.js
  0.e94301283a99f1b0523c.manager.bundle.js
  4.7f47e0ee.iframe.bundle.js
  4.f6baf382b17d39044858.manager.bundle.js
  4.f6baf382b17d39044858.manager.bundle.js.LICENSE.txt
  5.0a899f58.iframe.bundle.js
  5.249b99fcce8f645e65b3.manager.bundle.js
  6.3c05f93e.iframe.bundle.js
  6.7c1a011d997648e9d1d8.manager.bundle.js
  6.7c1a011d997648e9d1d8.manager.bundle.js.LICENSE.txt
  7.2513cc14.iframe.bundle.js
  7.40ecaf2f51e5cc0ecf5f.manager.bundle.js
  8.bc0e7b282fec2504dd4a.manager.bundle.js
  iframe.html
  index.html
  main.4f96ecf4ba25b4553e77.manager.bundle.js
  main.96e8c4e6.iframe.bundle.js
  runtime~main.0dda8310.iframe.bundle.js
  runtime~main.7133c143c37baae74282.manager.bundle.js
  static/media/searchDark.31025b80.svg
  vendors~main.9055f90ed24d66027c72.manager.bundle.js
  vendors~main.9055f90ed24d66027c72.manager.bundle.js.LICENSE.txt
  vendors~main.e99cbf8d.iframe.bundle.js
  vendors~main.e99cbf8d.iframe.bundle.js.LICENSE.txt
  vendors~main.e99cbf8d.iframe.bundle.js.map
Due: eslint --fix

Updated button stories to button and theme stories to primitives in Storybook.
  stories/1-Button.stories.js
  stories/3-Primitives.stories.js
Due: eslint --fix

chore(release): 0.21.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Updated Nav stories and started working on updating card stories in storybook. Need to look into RecommendedRepoListCard, Getting Started and Onboarding Card.
  stories/2-Card.stories.js
  stories/4-Nav.stories.js
Due: eslint --fix

Continuing work on updating cards in storybook. Updated Recommended Repo List. Need to add Contributors to Storybook but not sure where and need to look out for components not used.
  src/images/index.js
  src/images/npm.png
  stories/2-Card.stories.js
Due: eslint --fix
