Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

Update auto-merge-dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
Due: none

fix packages
  package-lock.json
Due: none

fixes issue error
  src/lib/apiGraphQL.js
Due: eslint --fix

adds storybook
  .storybook/addons.js
  .storybook/config.js
  package-lock.json
  package.json
  stories/0-Welcome.stories.js
  stories/1-Button.stories.js
Due: eslint --fix

implement goalcard
  .gitignore
  package-lock.json
  package.json
  src/App.js
  src/components/ListGoals.js
  src/index.css
  src/lib/apiGraphQL.js
Due: eslint --fix, stylefmt

clean out package.json
  package-lock.json
  package.json
  src/index.js
Due: eslint --fix

removed netlify styles
  package-lock.json
  package.json
Due: none

transitioned button
  src/index.css
  src/styles/Button.js
  stories/1-Button.stories.js
Due: eslint --fix, stylefmt

card UI
  package-lock.json
  package.json
  src/App.js
  src/components/Card.js
  src/components/ListGoals.js
  src/containers/Repositories.js
  src/index.css
  src/styles/Button.js
  src/styles/Card.js
  src/styles/Container.js
  src/styles/ListItem.js
  src/styles/breakpoints.js
  src/styles/mediaTemplates.js
  stories/2-Card.stories.js
Due: eslint --fix, stylefmt

$
  src/components/Card.js
Due: eslint --fix

Update package.json
  package.json
Due: none

useRef in newrepoform
  package-lock.json
  src/containers/NewRepoForm.js
Due: eslint --fix

useRef in noteform
  src/containers/NewRepoForm.js
  src/containers/NoteForm.js
  src/containers/Repository.js
Due: eslint --fix

Update package-lock.json
  package-lock.json
Due: none

format fixes
  package-lock.json
  package.json
Due: none

adds context
  src/App.js
  src/Context.js
  src/containers/Goals.js
Due: eslint --fix

stop re-renders
  src/containers/Goals.js
  src/containers/NoteForm.js
  src/containers/Repository.js
Due: eslint --fix

working note taking and deleting
  src/components/Card.js
  src/containers/Goals.js
  src/containers/NoteForm.js
  src/containers/Repositories.js
  src/containers/Repository.js
  src/lib/apiGraphQL.js
Due: eslint --fix

Create fetch-upstream.yml
  .github/workflows/fetch-upstream.yml
Due: none

Update README.md
  README.md
Due: none

Update index.css
  src/index.css
Due: stylefmt

fix: Add empty object as fallback for goals response
  src/containers/Goals.js
Due: eslint --fix

fix: Set header profile url to logged user's
  src/components/Header.js
Due: eslint --fix

bump version
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
