Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

feat: remove stardard-version artifacts and update semantic-release
  .github/workflows/ci.yml
  docs/docs/contributing/getting-started.md
  npm-shrinkwrap.json
  package.json
  release.config.js
Due: eslint --fix

feat: added minimalistic docker build
  Dockerfile
Due: none

feat: add under-engineered release workflow
  .github/workflows/release.yml
Due: none

fix: add missing commitizen conventional commit defaults
  .czrc
Due: none

fix: correct static distribution github release path
  .github/workflows/release.yml
Due: none

feat: update docusaurus config for Algolia
  docs/docusaurus.config.js
Due: eslint --fix

install algolia plugin, move to themeConfig
  docs/docusaurus.config.js
  docs/npm-shrinkwrap.json
  docs/package.json
Due: eslint --fix

feat: update docusaurus config for Algolia (#1121)
  404.html
  assets/css/styles.c57344df.css
  assets/css/styles.cb45a146.css
  assets/js/16.ddd37a85.js
  assets/js/1be78505.13378a4c.js
  assets/js/1be78505.17da5539.js
  assets/js/1f391b9e.59c08f42.js
  assets/js/1f391b9e.dc0677af.js
  assets/js/300.6f1ec0ca.js
  assets/js/40.1aee6ba8.js
  assets/js/402.ef157c23.js
  assets/js/486.a28f77eb.js
  assets/js/486.cbc181fa.js
  assets/js/486.cbc181fa.js.LICENSE.txt
  assets/js/608.42f7228b.js
  assets/js/608.c4f7dcc4.js
  assets/js/945.67516714.js
  assets/js/97486307.f4a9e29a.js
  assets/js/97486307.f4a9e29a.js.LICENSE.txt
  assets/js/main.40534a0d.js
  assets/js/main.40534a0d.js.LICENSE.txt
  assets/js/main.faae8ae4.js
  assets/js/runtime~main.0b975142.js
  assets/js/runtime~main.b7911385.js
  contributing/code-of-conduct/index.html
  contributing/fetching-data-from-github/index.html
  contributing/getting-started/index.html
  contributing/resolve-merge-conflicts/index.html
  contributing/triage-guide/index.html
  index.html
  markdown-page/index.html
  opensearch.xml
  search/index.html
  sitemap.xml
  storybook/getting-started/index.html
  styling/dark-mode/index.html
Due: eslint --fix, stylefmt

docs: simplify workflows by code splitting docs
  .github/workflows/release.yml
  docs/.gitignore
  docs/.npmrc
  docs/README.md
  docs/docs/contributing/code-of-conduct.md
  docs/docs/contributing/fetching-data-from-github.md
  docs/docs/contributing/getting-started.md
  docs/docs/contributing/resolve-merge-conflicts.md
  docs/docs/contributing/triage-guide.md
  docs/docs/introduction.md
  docs/docs/storybook/getting-started.md
  docs/docs/styling/dark-mode.md
  docs/docusaurus.config.js
  docs/npm-shrinkwrap.json
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/markdown-page.md
  docs/static/.nojekyll
  docs/static/CNAME
  docs/static/favicon.ico
  docs/static/img/contributing-resolve-merge-conflicts-commit-message.png
  docs/static/img/contributing-resolve-merge-conflicts-dont-do.png
  docs/static/img/contributing-resolve-merge-conflicts-merge-conflicts.png
  docs/static/img/contributing-resolve-merge-conflicts-merge-success.png
  docs/static/img/contributing-resolve-merge-conflicts-ready-to-merge.png
  docs/static/img/contributing-resolve-merge-conflicts-review-conflicts.png
  docs/static/img/contributing-resolve-merge-conflicts-view-merge-commit.png
  docs/static/img/logo.svg
  docs/static/img/what-is-opensauced.png
Due: eslint --fix, stylefmt

style: correct eslint missing function
  release.config.js
  stories/1-Button.stories.js
Due: eslint --fix

fix: add proper development workflows
  .github/workflows/ci.yml
  .github/workflows/development.yml
Due: none

build: separate pull request workflow cache from main
  .github/workflows/development.yml
Due: none

ci: switch to testing
  .github/workflows/development.yml
Due: none

style: correct typo in wonkflow name
  .github/workflows/development.yml
Due: none

Deploying to storybook-static from @ 900495a2b9e07a94b8acfa48d2d5faf16414a5b5 🚀
  iframe.html
  main.0288e754.iframe.bundle.js
  static/media/UseShoppingCart.cb779bf6.png
  vendors~main.9b595f75.iframe.bundle.js
  vendors~main.9b595f75.iframe.bundle.js.LICENSE.txt
  vendors~main.9b595f75.iframe.bundle.js.map
Due: eslint --fix

rename it to make sense
  src/components/RecommendedRepoItem.js
  src/components/RepositoryGoals.js
  stories/2-Card.stories.js
Due: eslint --fix

fix: correct production environment variables
  scripts/build.js
Due: eslint --fix

working data filter
  src/components/RepositoryGoals.js
  src/lib/apiGraphQL.js
Due: eslint --fix

build: correct requirements for semantic-release
  package.json
Due: none

it works with Sets
  src/components/RecommendedRepoItem.js
  src/components/RepositoryGoals.js
Due: eslint --fix

failing tesT
  src/components/RepositoryGoals.js
  src/lib/manageStarData.js
  src/lib/manageStarData.test.js
Due: eslint --fix

fix: add conventional-changelog-conventionalcommits as temporary peer dependency
  npm-shrinkwrap.json
  package.json
Due: none

Notes added by 'git notes add'
  097dfaae06c55542258cced052bfa794d86975ce
Due: none

pass the test
  src/lib/manageStarData.test.js
Due: eslint --fix

fixes lint
  src/components/RepositoryGoals.js
  src/lib/manageStarData.js
  src/lib/manageStarData.test.js
  stories/1-Button.stories.js
Due: eslint --fix

emojis save right, but suggestions still not working
  npm-shrinkwrap.json
  package.json
  src/components/NoteFormSocial.js
Due: eslint --fix

Update src/components/RepositoryGoals.js
  src/components/RepositoryGoals.js
Due: eslint --fix

emoji popup working, style issues still
  src/components/NoteFormSocial.js
Due: eslint --fix

feat: added a dropdown menu under avatar
  src/components/DropdownMenu.js
  src/components/Nav.js
  src/styles/Card.js
  src/styles/Header/HomeNav.js
  stories/2-Card.stories.js
Due: eslint --fix

adding a link to the github tag in the repo
  src/components/DropdownMenu.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
