Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.css": [
    "stylefmt",
    "git add"
  ]
}

Use Repo List Item as inspiration for IssueItem
  src/components/IssueListItem.js
Due: eslint --fix

Fix eslint error (; line 7)
  src/styles/Grid/IssuesColumn.js
Due: eslint --fix

Fix eslint error (; line 14)
  src/styles/List.js
Due: eslint --fix

Create IssuesCard
  stories/2-Card.stories.js
Due: eslint --fix

Change card styling to match more to design
  src/styles/Card.js
Due: eslint --fix

Fix typo
  src/styles/Container.js
Due: eslint --fix

Fix typo
  src/styles/Grid/Float.js
Due: eslint --fix

Fix typo
  src/styles/Typography/TinyFont.js
Due: eslint --fix

Tweak styling to better work with repo card
  stories/2-Card.stories.js
Due: eslint --fix

Add repo data card
  stories/2-Card.stories.js
Due: eslint --fix

Change id to className
  src/styles/Card.js
  stories/2-Card.stories.js
Due: eslint --fix

Remove FontFamily
  src/styles/Card.js
Due: eslint --fix

update from upstream master
  .github/workflows/storybook.yml
  CONTRIBUTING.md
  README.md
  netlify.toml
  package-lock.json
  src/components/AddRepoForm.js
  src/components/Card.js
  src/components/DashboardFooter.js
  src/components/Header.js
  src/components/Instructions.js
  src/components/RepoListItem.js
  src/containers/NoteForm.js
  src/lib/apiGraphQL.js
  src/lib/util.js
  src/tests/AddRepoForm.test.js
  src/tests/CreateGoals.test.js
  src/tests/DashboardFooter.test.js
  src/tests/Header.test.js
  src/tests/Instructions.test.js
  src/tests/ListGoals.test.js
  src/tests/NoteForm.test.js
  src/tests/RepoListItem.test.js
  src/tests/mocks/data.js
  src/tests/util.test.js
Due: eslint --fix

audit fixes
  package-lock.json
Due: none

Update nodejs.yml
  .github/workflows/nodejs.yml
Due: none

Update storybook.yml
  .github/workflows/storybook.yml
Due: none

storybook addon viewport
  .storybook/addons.js
  .storybook/config.js
  package-lock.json
  package.json
Due: eslint --fix

adds source plugin
  .storybook/addons.js
  .storybook/webpack.config.js
  package-lock.json
  package.json
Due: eslint --fix

code reorg
  App.css
  App.js
  src/components/Goals.js
  src/components/Issues.js
  src/components/Login.js
  src/components/NoteForm.js
  src/components/Repository.js
  src/containers/Dashboard.js
  src/logos/index.js
  src/logos/logo1.svg
  src/logos/logo2.svg
  src/logos/logo3.svg
  src/logos/logo4.svg
  src/logos/logo5.svg
  src/logos/logo6.svg
  src/logos/logo7.svg
  src/logos/logo8.svg
  src/tests/Dashboard.test.js
  src/tests/Issues.test.js
  src/tests/NoteForm.test.js
  src/tests/Repository.test.js
Due: eslint --fix, stylefmt

Update package.json
  package.json
Due: none

fix App placement
  src/containers/App.css
  src/containers/App.js
  src/index.js
Due: eslint --fix, stylefmt

adds App.test.js
  src/components/Goals.js
  src/tests/App.test.js
  src/tests/Goals.test.js
Due: eslint --fix

adds goals test
  src/tests/Goals.test.js
Due: eslint --fix

add integration test
  src/tests/App.test.js
Due: eslint --fix

working test
  src/tests/App.test.js
Due: eslint --fix

updated script-clean to support cross-platform
  package.json
Due: none

Change border radius to var
  src/styles/DoneChecking.js
Due: eslint --fix

Change 5px to var
  src/styles/Card.js
Due: eslint --fix

Change onboarding card component name
  stories/2-Card.stories.js
Due: eslint --fix
