Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.css": [
    "stylefmt",
    "git add"
  ]
}

renderIcons PR updates
  src/components/CommitType.js
  src/components/IssueListItem.js
Due: eslint --fix

shrikWrap fix
  npm-shrinkwrap.json
Due: none

test case fixed
  src/components/CommitType.js
Due: eslint --fix

default case Fix
  src/components/CommitType.js
Due: eslint --fix

Deploying to storybook-static from @ 0cc646a8e24d65156f8b233a02a123cbc43499c1 🚀
  0.85117a33.iframe.bundle.js
  4.8f5fbccc.iframe.bundle.js
  4.8f5fbccc.iframe.bundle.js.LICENSE.txt
  4.8f5fbccc.iframe.bundle.js.map
  5.7a0970b1.iframe.bundle.js
  6.ac5b0d5e.iframe.bundle.js
  6.ac5b0d5e.iframe.bundle.js.LICENSE.txt
  6.ac5b0d5e.iframe.bundle.js.map
  iframe.html
  main.82a42918.iframe.bundle.js
  runtime~main.71f14daf.iframe.bundle.js
  vendors~main.3c808ef5.iframe.bundle.js
  vendors~main.3c808ef5.iframe.bundle.js.LICENSE.txt
  vendors~main.3c808ef5.iframe.bundle.js.map
Due: eslint --fix

Notes added by 'git notes add'
  c8e18a9045af797e30fd93eeb8d59cf1943175f5
Due: none

feat: implement @open-sauced/check-engines and update docs
  .npmrc
  README.md
  npm-shrinkwrap.json
  package.json
Due: none

feat: 1142 Link Repo Recommendations Items to their repositories.
  src/components/RecommendedRepoItem.js
  stories/2-Card.stories.js
Due: eslint --fix

cleaned up linting errors
  stories/2-Card.stories.js
Due: eslint --fix

Deploying to storybook-static from @ 59b67f56d0321bafe803b35a0e252e68749e8c5b 🚀
  0.815feefd.iframe.bundle.js
  4.4b242d4a.iframe.bundle.js
  4.4b242d4a.iframe.bundle.js.LICENSE.txt
  4.4b242d4a.iframe.bundle.js.map
  5.55c3c2db.iframe.bundle.js
  6.f1709ff9.iframe.bundle.js
  6.f1709ff9.iframe.bundle.js.LICENSE.txt
  6.f1709ff9.iframe.bundle.js.map
  7.2b20e1de.iframe.bundle.js
  iframe.html
  main.aa502e16.iframe.bundle.js
  runtime~main.dda6ec58.iframe.bundle.js
  vendors~main.071590a5.iframe.bundle.js
  vendors~main.071590a5.iframe.bundle.js.LICENSE.txt
  vendors~main.071590a5.iframe.bundle.js.map
Due: eslint --fix

Notes added by 'git notes add'
  af2753388d1cd635aa9c66fe25e062b509e2210d
Due: none

tried tests, cannot control aria-label for editor
  src/components/NoteFormSocial.js
  src/tests/NoteFormSocial.test.js
Due: eslint --fix

Prune unused imports
  src/tests/NoteFormSocial.test.js
Due: eslint --fix

per 0-vortex for tooling
  npm-shrinkwrap.json
  package.json
  src/components/NoteFormSocial.js
Due: eslint --fix

remove original NoteForm files
  src/components/NoteForm.js
  src/tests/NoteForm.test.js
Due: eslint --fix

Update README
  README.md
Due: none

Update src/index.css
  src/index.css
Due: stylefmt

Update NoteFormSocial.js
  src/components/NoteFormSocial.js
Due: eslint --fix

Deploying to storybook-static from @ 12ef5582529e092ff5f1026a629b494ca7e20e41 🚀
  0.77de4fb7.iframe.bundle.js
  0.effdbae8486f418bf851.manager.bundle.js
  4.b627758c.iframe.bundle.js
  4.b627758c.iframe.bundle.js.LICENSE.txt
  4.b627758c.iframe.bundle.js.map
  5.a100bd36.iframe.bundle.js
  6.485b2c00.iframe.bundle.js
  6.485b2c00.iframe.bundle.js.LICENSE.txt
  6.485b2c00.iframe.bundle.js.map
  7.23604369.iframe.bundle.js
  iframe.html
  index.html
  main.d201a212.iframe.bundle.js
  runtime~main.98b1911b11b3cb372dbf.manager.bundle.js
  runtime~main.ced255eb.iframe.bundle.js
  vendors~main.a2940eeb.iframe.bundle.js
  vendors~main.a2940eeb.iframe.bundle.js.LICENSE.txt
  vendors~main.a2940eeb.iframe.bundle.js.map
Due: eslint --fix

Notes added by 'git notes add'
  6043be8e6e8c277714daaa7da318d9a2d294b29f
Due: none

initial port of lodash functions
  src/components/ListGoals.js
Due: eslint --fix

Update tests for data field
  src/tests/ListGoals.test.js
Due: eslint --fix

Update ListGoals for fallback of empty data.json
  src/components/ListGoals.js
Due: eslint --fix

remove lodash deps
  package.json
Due: none

update shrinkwrap
  npm-shrinkwrap.json
Due: none

eslint --fix
  src/components/ListGoals.js
Due: eslint --fix

feat: add repository visualisation
  .github/workflows/repository-visualizer.yml
  README.md
Due: none

update version tag
  .github/workflows/repository-visualizer.yml
Due: none

add pull_requests to workflow
  .github/workflows/repository-visualizer.yml
Due: none

Notes added by 'git notes add'
  6b2771f51adadbd50305bde24d1f1b5332ee12c1
Due: none

changed basic template to a link
  src/components/NoteFormSocial.js
Due: eslint --fix

fixed eslint formatting
  src/components/NoteFormSocial.js
Due: eslint --fix
