Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

app.css lint
  .lintstagedrc
  src/App.css
Due: stylefmt

Update README.md
  README.md
Due: none

add notes
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add notes (#16)
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Lint cleanup (#15)
  .eslintrc
  .lintstagedrc
  .stylelintrc
  package.json
  src/App.css
  src/App.js
  src/Count.js
  src/Dropdown.js
  src/Instructions.js
  src/NewRepo.js
  src/NoteForm.js
  src/Repositories.js
  src/Repository.js
  src/index.css
  src/index.js
  src/lib/apiGraphQL.js
  src/tests/Count.test.js
  yarn.lock
Due: eslint --fix, stylefmt

lint fixes
  src/NewRepoForm.js
Due: eslint --fix

update apollo
  package.json
  yarn.lock
Due: none

attempt to fix refetching
  package.json
  src/NewRepoForm.js
  yarn.lock
Due: eslint --fix

working refetch
  src/NewRepoForm.js
  src/Repositories.js
Due: eslint --fix

delete button working
  src/NoteForm.js
  src/index.css
Due: eslint --fix, stylefmt

fixes notes
  src/NoteForm.js
Due: eslint --fix

adds more data
  src/Repository.js
Due: eslint --fix

remove references to cms in contributing.md
  CONTRIBUTING.md
Due: none

Pulls changes from master :
  package.json
  src/App.css
Due: stylefmt

Adds styled components library, new folder for styled components, and Button with Hover styling
  src/Instructions.js
  src/index.css
  src/index.js
  src/styles/Button.js
  src/styles/HoverWrapper.js
Due: eslint --fix, stylefmt

saving temporary work
  .eslintrc
  .vscode/settings.json
  src/App.js
  src/Instructions.js
  src/index.css
  src/styles/Button.js
  src/styles/Header.js
  src/styles/HeaderLinks.js
  src/styles/HoverWrapper.js
  src/styles/cssConstants.js
Due: eslint --fix, stylefmt

Adds constants file for CSS variables
  src/App.js
  src/NoteForm.js
  src/index.css
  src/styles/Button.js
  src/styles/cssConstants.js
Due: eslint --fix, stylefmt

Adds styled components for textarea and input
  src/NewRepoForm.js
  src/NoteForm.js
  src/index.css
  src/styles/Input.js
  src/styles/TextArea.js
Due: eslint --fix, stylefmt

Removes HoverWrapper
  src/Instructions.js
  src/styles/Button.js
  src/styles/HoverWrapper.js
Due: eslint --fix

Replaces JSX button with Styled component button, including the background hover. Includes props adaption for 'destructive' prop on buttons for red coloring/hover
  netlify.toml
  src/NewRepoForm.js
  src/NoteForm.js
  src/index.css
  src/styles/Button.js
Due: eslint --fix, stylefmt

Removes left-over class names from components
  src/Instructions.js
  src/NewRepoForm.js
  src/NoteForm.js
Due: eslint --fix

Adds the .toml file back to the project
  netlify.toml
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
