Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

elements are the same time so changing css
  src/styles/Card.js
Due: eslint --fix

make avatar cursor pointer
  src/styles/ProfileAvatar.js
Due: eslint --fix

you can tab through elements
  src/components/DropdownMenu.js
Due: eslint --fix

storbook update to reflect changes
  stories/2-Card.stories.js
Due: eslint --fix

one more storybook update
  stories/2-Card.stories.js
Due: eslint --fix

Open user profile and release in a new tab
  src/components/DropdownMenu.js
Due: eslint --fix

Deploying to storybook-static from @ fe4df731ede8e914c9f5a0958c9715d732ea0f0f 🚀
  0.98449418.iframe.bundle.js
  4.51771303.iframe.bundle.js
  4.51771303.iframe.bundle.js.LICENSE.txt
  4.51771303.iframe.bundle.js.map
  5.93cf197d.iframe.bundle.js
  6.f2cc3bdf.iframe.bundle.js
  6.f2cc3bdf.iframe.bundle.js.LICENSE.txt
  6.f2cc3bdf.iframe.bundle.js.map
  iframe.html
  main.2ba73848.iframe.bundle.js
  runtime~main.28cbe47a.iframe.bundle.js
  vendors~main.bf2b9cd2.iframe.bundle.js
  vendors~main.bf2b9cd2.iframe.bundle.js.LICENSE.txt
  vendors~main.bf2b9cd2.iframe.bundle.js.map
Due: eslint --fix

Notes added by 'git notes add'
  9300642bbcf9a466b9ee047a4aa3aac02ab3bfd1
Due: none

feat: dedupe community health files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/funding.yml
Due: none

build: add minor dependencies updates
  npm-shrinkwrap.json
  package.json
Due: none

build: add remirror incremental update to markdown render
  npm-shrinkwrap.json
  package.json
Due: none

Revert "build: add remirror incremental update to markdown render"
  npm-shrinkwrap.json
  package.json
Due: none

Notes added by 'git notes add'
  0990909f10af29f7c7abce87c7c761b9323f505d
Due: none

figure out how to account for no stars.json
  src/lib/manageStarData.js
Due: eslint --fix

hide stars if json is missing
  src/components/RepositoryGoals.js
  src/lib/manageStarData.js
Due: eslint --fix

removes unused fetch
  src/lib/apiGraphQL.js
  src/lib/manageStarData.js
Due: eslint --fix

use action instead of console
  stories/1-Button.stories.js
Due: eslint --fix

Deploying to storybook-static from @ 6d35b43cf8f7267f962cb7e558934a58388edbb0 🚀
  0.170b1f0d3edd70e6453a.manager.bundle.js
  0.92b01453.iframe.bundle.js
  4.56bec84a1c3a7b3d8a03.manager.bundle.js
  4.56bec84a1c3a7b3d8a03.manager.bundle.js.LICENSE.txt
  4.ee7977b1.iframe.bundle.js
  4.ee7977b1.iframe.bundle.js.LICENSE.txt
  4.ee7977b1.iframe.bundle.js.map
  5.b7408b0c.iframe.bundle.js
  5.b9d6d0ae0b3b8ca9b3dd.manager.bundle.js
  6.8f3d0afe.iframe.bundle.js
  6.8f3d0afe.iframe.bundle.js.LICENSE.txt
  6.8f3d0afe.iframe.bundle.js.map
  6.9380cd78a25025784449.manager.bundle.js
  6.9380cd78a25025784449.manager.bundle.js.LICENSE.txt
  7.2aaa29c1aa8bed6e0512.manager.bundle.js
  7.7ca6ff79.iframe.bundle.js
  8.672b1c46bf5ba3eda0df.manager.bundle.js
  iframe.html
  index.html
  main.78b9b32e.iframe.bundle.js
  main.7b12388d7be96a17ece1.manager.bundle.js
  runtime~main.0528961f.iframe.bundle.js
  runtime~main.289529a238d4ce5050c6.manager.bundle.js
  vendors~main.a20b05523551efbf2f48.manager.bundle.js
  vendors~main.a20b05523551efbf2f48.manager.bundle.js.LICENSE.txt
  vendors~main.bada0787.iframe.bundle.js
  vendors~main.bada0787.iframe.bundle.js.LICENSE.txt
  vendors~main.bada0787.iframe.bundle.js.map
Due: eslint --fix

Notes added by 'git notes add'
  a02e764b27d17e5ddce9a03f5a96b7adcbe8e4c4
Due: none

preload cdn image, dark mode styles, code extension
  src/components/NoteFormSocial.js
  src/index.css
  src/styles/Card.js
Due: eslint --fix, stylefmt

adding tests for dropdown menu
  src/components/DropdownMenu.js
  src/styles/Card.js
  src/tests/DropdownMenu.test.js
Due: eslint --fix

Deploying to storybook-static from @ 79bfc0c5eb9d05c69b521e2f93eccda8a14d38e0 🚀
  iframe.html
  main.52ed1aee.iframe.bundle.js
Due: eslint --fix

Notes added by 'git notes add'
  c8ef7cfadb05de395b67cb8b43fd1d28786e4159
Due: none

Contributing guide link fixed
  README.md
Due: none

update from 0-vortex fix
  package.json
Due: none

Notes added by 'git notes add'
  d3e2963d8a004ca87ac1067d7053154c48b65ab6
Due: none

fix state mgmt issues
  src/components/NoteFormSocial.js
Due: eslint --fix

feat:1109
  npm-shrinkwrap.json
  src/components/Contributions.js
  src/components/IssueListItem.js
  src/components/Issues.js
  src/styles/List.js
  src/styles/variables.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
