Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

style componentize the header (#508)
  src/styles/Header/HomePageHeader.js
  src/styles/Header/index.js
  stories/6-Login.stories.js
Due: eslint --fix

replace old header
  src/components/Header.js
  src/components/Login.js
  src/containers/App.js
  src/index.css
  src/styles/Header/HomePageHeader.js
  src/styles/Typography/SubtleLink.js
  src/styles/Typography/index.js
  stories/6-Login.stories.js
Due: eslint --fix, stylefmt

working appnav
  src/components/Header.js
  src/styles/Header/HomePageHeader.js
  src/styles/Header/index.js
Due: eslint --fix

rename things
  src/components/Nav.js
  src/containers/App.js
  stories/4-Headers.stories.js
  stories/4-Nav.stories.js
  stories/6-Home.stories.js
Due: eslint --fix

organize nav
  src/components/Nav.js
Due: eslint --fix

fix broken logout
  src/components/Nav.js
Due: eslint --fix

embed hero and remove login component
  src/components/Hero.js
  src/components/Login.js
  src/hoc/AuthHOC.js
  src/styles/Header/Hero.js
  src/styles/Header/index.js
  stories/7-Hero.stories.js
Due: eslint --fix

move section reference lower
  src/components/Repository.js
  src/components/RepositoryGoals.js
  src/containers/App.js
  src/styles/Header/Hero.js
Due: eslint --fix

fitting hero
  public/index.html
  src/components/Hero.js
  src/index.css
  src/styles/Header/Hero.js
Due: eslint --fix, stylefmt

fixes weird section bugs
  src/components/Hero.js
  src/styles/Header/Hero.js
Due: eslint --fix

fixes footer
  src/components/Hero.js
  src/components/Nav.js
  src/index.css
Due: eslint --fix, stylefmt

remove tests
  src/index.css
  src/tests/Header.test.js
  src/tests/Login.test.js
Due: eslint --fix, stylefmt

fix bad indent
  src/components/Hero.js
Due: eslint --fix

adds hero test
  src/components/Hero.js
  src/tests/Hero.test.js
Due: eslint --fix

fix: contribute typo
  src/components/Repository.js
Due: eslint --fix

fix: contribute typo in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Deploying to storybook-static from @ 7962c42f2d4d6b8a336ed09e824d43f265432439 🚀
  asset-manifest.json
  iframe.html
  index.html
  main.4b082bc991d827057be4.bundle.js
  main.d2467fcff3326aa4a3b9.bundle.js
  main.d2467fcff3326aa4a3b9.bundle.js.map
  precache-manifest.75efc9ea836548a4093cf5beced66f80.js
  runtime~main.d2467fcff3326aa4a3b9.bundle.js
  runtime~main.d2467fcff3326aa4a3b9.bundle.js.map
  sb_dll/storybook_ui-manifest.json
  sb_dll/storybook_ui_dll.LICENCE
  sb_dll/storybook_ui_dll.js
  service-worker.js
  vendors~main.ccf398b27d7100d25dfa.bundle.js
  vendors~main.d2467fcff3326aa4a3b9.bundle.js
  vendors~main.d2467fcff3326aa4a3b9.bundle.js.LICENSE.txt
  vendors~main.d2467fcff3326aa4a3b9.bundle.js.map
Due: eslint --fix

adds mobile concerns
  src/components/Hero.js
  src/components/Nav.js
  src/styles/Header/Hero.js
  src/styles/Header/HomeNav.js
  src/styles/Header/index.js
  src/styles/Typography/SubtleLink.js
  stories/4-Nav.stories.js
  stories/6-Home.stories.js
Due: eslint --fix

completed top header with mostly working mobile
  src/components/Hero.js
  src/components/Nav.js
  src/icons/full-sauce.svg
  src/icons/index.js
  src/icons/sauce2.svg
  src/index.css
  src/styles/Header/Hero.js
  src/styles/Header/HomeNav.js
  src/styles/Header/index.js
  src/styles/Typography/SubtleLink.js
Due: eslint --fix, stylefmt

removes story link
  src/components/Nav.js
Due: eslint --fix

reorg images
  src/components/DashboardFooter.js
  src/components/Hero.js
  src/icons/index.js
  src/icons/one.png
  src/images/full-sauce.svg
  src/images/index.js
  src/images/one.jpeg
  src/images/one.png
  src/images/pizza.svg
  src/images/sauce.svg
  src/images/sauce2.svg
  src/images/sauced.svg
Due: eslint --fix

Update package.json
  package.json
Due: none

Deploying to storybook-static from @ d3c6a3d2f854e0b84bf4ee7a9d4e429fafa2923f 🚀
  asset-manifest.json
  iframe.html
  main.3141c322af8a814dec67.bundle.js
  main.3141c322af8a814dec67.bundle.js.map
  precache-manifest.f2686d74ab8928aa8a4a1b16618fa7e7.js
  runtime~main.3141c322af8a814dec67.bundle.js
  runtime~main.3141c322af8a814dec67.bundle.js.map
  service-worker.js
  static/media/logo1.92f1a87f.svg
  static/media/logo2.92f1a87f.svg
  static/media/logo3.3d81157d.svg
  static/media/logo4.7e594ffa.svg
  static/media/logo5.8a136a4d.svg
  static/media/logo6.8194b539.svg
  static/media/logo7.5bbf049f.svg
  static/media/logo8.d44ef2c7.svg
  static/media/one.64a58e8e.jpeg
  static/media/pizza.3082582b.svg
  static/media/sauce.736eaa08.svg
  static/media/sauce2.4478afa5.svg
  vendors~main.3141c322af8a814dec67.bundle.js
  vendors~main.3141c322af8a814dec67.bundle.js.LICENSE.txt
  vendors~main.3141c322af8a814dec67.bundle.js.map
Due: eslint --fix

fixes refresh after deletion
  src/components/NoteForm.js
Due: eslint --fix

set goalsId after initial repo creation
  src/components/CreateGoals.js
  src/components/RepositoryGoals.js
Due: eslint --fix

removes console.logs
  src/components/CreateGoals.js
  src/components/NoteForm.js
Due: eslint --fix

Update apiGraphQL.js
  src/lib/apiGraphQL.js
Due: eslint --fix

Update CreateGoals.js
  src/components/CreateGoals.js
Due: eslint --fix

Add Spinner to Repo Page
  package-lock.json
  src/components/Repository.js
  src/styles/Grid/Float.js
  src/styles/Spinner.js
Due: eslint --fix

Remove empty line at last
  src/components/Repository.js
  src/styles/Background.js
  src/styles/Container.js
  src/styles/Grid/FormColumn.js
  src/styles/Input.js
  src/styles/Typography/AccentLink.js
  src/styles/Typography/ErrorMessage.js
  src/tests/CreateGoals.test.js
Due: eslint --fix

Add Spinner in Dashboard
  src/containers/Dashboard.js
Due: eslint --fix

Add Issue and PR Template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add Book Icon on Read the story button
  src/components/Hero.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
