Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

adds fetchRepoInterationsQuery
  src/lib/apiGraphQL.js
Due: eslint --fix

working interactions query
  src/components/Repository.js
Due: eslint --fix

replaces mi-slabeled stars to issues
  src/components/Repository.js
Due: eslint --fix

adds contributions to the repository screen
  src/components/Contributions.js
  src/components/Repository.js
  src/lib/apiGraphQL.js
Due: eslint --fix

adds storybook
  src/components/Contributions.js
  stories/2-Card.stories.js
Due: eslint --fix

adds new contributions link
  src/components/Contributions.js
  src/styles/Card.js
  src/styles/Typography/AccentLink.js
  src/styles/Typography/FontSizes.js
  src/styles/Typography/TinyFont.js
  src/styles/Typography/index.js
  stories/2-Card.stories.js
Due: eslint --fix

working arguments in RepoInteractionsQuery
  src/lib/apiGraphQL.js
Due: eslint --fix

correct line height contribute link
  src/components/Contributions.js
  src/styles/Typography/AccentLink.js
Due: eslint --fix

bump version v0.10.0
  package.json
Due: none

removes console.log
  src/components/Contributions.js
Due: eslint --fix

Update _redirects
  public/_redirects
Due: none

updates modules
  package-lock.json
  package.json
Due: none

WIP: implement home design
  src/icons/index.js
  src/icons/one.png
  src/icons/pizza.svg
  src/icons/sauce.svg
  stories/6-Login.stories.js
Due: eslint --fix

adjust image sizes
  stories/6-Login.stories.js
Due: eslint --fix

menu bar good enough
  stories/6-Login.stories.js
Due: eslint --fix

elements on the page but not responsive
  src/styles/Button.js
  stories/6-Login.stories.js
Due: eslint --fix

update storybook static
  .github/workflows/storybook.yml
Due: none

overflow hidden on root div
  src/components/Repository.js
  src/index.css
Due: eslint --fix, stylefmt

removes box-css
  src/styles/Grid/Flex.js
Due: eslint --fix

sticky pizza
  stories/6-Login.stories.js
Due: eslint --fix

Update storybook.yml
  .github/workflows/storybook.yml
Due: none

bump v0.11.0
  package.json
Due: none

style componentize the header
  src/styles/Header/HomePageHeader.js
  src/styles/Header/index.js
  stories/6-Login.stories.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
