Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

make vite more debuggable
  vite.config.ts
Due: none

add preview script
  package.json
Due: none

install react-markdown @ latest
  npm-shrinkwrap.json
  package.json
Due: none

step back to basic config
  vite.config.ts
Due: none

broke build dir :-(
  vite.config.ts
Due: none

build: update non-breaking changes dependencies
  npm-shrinkwrap.json
  package.json
Due: none

build: update eslint configuration and remove redundant react-scripts
  .eslintrc.js
  .eslintrc.yml
  npm-shrinkwrap.json
  package.json
Due: eslint --fix

build: update react-markdown dependency and mock tests
  config/jest/react-markdown.js
  npm-shrinkwrap.json
  package.json
Due: eslint --fix

fix: correct test and release flows
  .github/workflows/release.yml
  .gitignore
  jest.config.js
Due: eslint --fix

fix: correct static build
  npm-shrinkwrap.json
  package.json
Due: none

build: correct static build dependencies
  npm-shrinkwrap.json
  package.json
Due: none

build: add missing webpack stray dependencies
  npm-shrinkwrap.json
  package.json
Due: none

build: update final deps
  npm-shrinkwrap.json
  package.json
Due: none

refactor: correct minor storybook breaking change
  .storybook/main.js
  package.json
Due: eslint --fix

fix: correct react-loading-skeleton and comment
  npm-shrinkwrap.json
  package.json
  src/index.css
Due: stylefmt

build: update react-loading-skeleton gracefully now
  npm-shrinkwrap.json
  package.json
  src/components/IssuesLoader.js
  src/components/Repository.js
  src/index.css
  src/index.js
Due: eslint --fix, stylefmt

build: add more minor dependency updates
  npm-shrinkwrap.json
  package.json
Due: none

Deploying to storybook-static from @ bf2501d0320c282695b563e02b7394f871557d0d 🚀
  0.d1208ea4c647f1523374.manager.bundle.js
  0.d1208ea4c647f1523374.manager.bundle.js.LICENSE.txt
  0.f5b89b9c.iframe.bundle.js
  1.77d6cbd5ec33db02131d.manager.bundle.js
  1.801f3b6f.iframe.bundle.js
  1.801f3b6f.iframe.bundle.js.LICENSE.txt
  1.801f3b6f.iframe.bundle.js.map
  2.e8681f36.iframe.bundle.js
  3.c739ae04.iframe.bundle.js
  5.3179946f70ccc7c4b6f8.manager.bundle.js
  6.35681a47d39f6627e599.manager.bundle.js
  6.35681a47d39f6627e599.manager.bundle.js.LICENSE.txt
  7.9e915bc0.iframe.bundle.js
  7.ecf18e1dd974b8e13c1e.manager.bundle.js
  8.81c93bc8bfc553743f5c.manager.bundle.js
  8.cfd84a8e.iframe.bundle.js
  8.cfd84a8e.iframe.bundle.js.LICENSE.txt
  8.cfd84a8e.iframe.bundle.js.map
  9.30a2bb20.iframe.bundle.js
  iframe.html
  index.html
  main.6f0fcb578f3b960d1263.manager.bundle.js
  main.7cfb6694.iframe.bundle.js
  main.js
  runtime~main.b32ac438.iframe.bundle.js
  runtime~main.c7c6142e45e3ca2a90e8.manager.bundle.js
  vendors~main.6c2dcce8.iframe.bundle.js
  vendors~main.6c2dcce8.iframe.bundle.js.LICENSE.txt
  vendors~main.6c2dcce8.iframe.bundle.js.map
  vendors~main.c4780032c34c9e964046.manager.bundle.js
  vendors~main.c4780032c34c9e964046.manager.bundle.js.LICENSE.txt
Due: eslint --fix

fix: correct docker build
  Dockerfile
Due: none

fix: add docker build to testing workflows
  .github/workflows/development.yml
Due: none

Notes added by 'git notes add'
  0ef6a18d2eeab73c43a51f8f466befa1a7d36991
Due: none

ci: make more workflows reusable and fix badges
  .github/workflows/codeql-analysis.yml
  .github/workflows/compliance.yml
  .github/workflows/triage.yml
  Dockerfile
  README.md
Due: none

build: update latest deps and lock file version
  npm-shrinkwrap.json
  package.json
Due: none

Deploying to storybook-static from @ d30044c9f4ab81ea0426fe647c3ae819cddfa313 🚀
  0.0287a04e.iframe.bundle.js
  0.ce92cdfd447c8a88a214.manager.bundle.js
  0.ce92cdfd447c8a88a214.manager.bundle.js.LICENSE.txt
  1.1118cbf1d05c666be2be.manager.bundle.js
  1.6180c29c.iframe.bundle.js
  1.6180c29c.iframe.bundle.js.LICENSE.txt
  1.6180c29c.iframe.bundle.js.map
  2.af7b2c8a.iframe.bundle.js
  3.8bb2173c.iframe.bundle.js
  5.f67610171e1c143017d7.manager.bundle.js
  6.3ba06a0a6d76e3fab19f.manager.bundle.js
  6.3ba06a0a6d76e3fab19f.manager.bundle.js.LICENSE.txt
  7.b269571adb5f8040a76b.manager.bundle.js
  7.dd268b88.iframe.bundle.js
  8.2d3e676a7523d261ab66.manager.bundle.js
  8.91de97de.iframe.bundle.js
  8.91de97de.iframe.bundle.js.LICENSE.txt
  8.91de97de.iframe.bundle.js.map
  9.40ec65d6.iframe.bundle.js
  iframe.html
  index.html
  main.96f03564e3170127a929.manager.bundle.js
  main.e1dc90cd.iframe.bundle.js
  runtime~main.d737f2eb4ab072b93d94.manager.bundle.js
  runtime~main.f0da9692.iframe.bundle.js
  vendors~main.8f1bb2f3.iframe.bundle.js
  vendors~main.8f1bb2f3.iframe.bundle.js.LICENSE.txt
  vendors~main.8f1bb2f3.iframe.bundle.js.map
  vendors~main.d2f2ca38f77fb3b05006.manager.bundle.js
  vendors~main.d2f2ca38f77fb3b05006.manager.bundle.js.LICENSE.txt
Due: eslint --fix

build: adjust static build scripts and configuration
  .eslintrc.js
  config/webpack.config.js
  npm-shrinkwrap.json
  package.json
  svgo.config.js
Due: eslint --fix

test: correct all unit existent unit tests
  src/components/Card.js
  src/tests/App.test.js
  src/tests/Cards.test.js
  src/tests/DashboardFooter.test.js
  src/tests/Footer.test.js
  src/tests/Hero.test.js
  src/tests/Issues.test.js
  src/tests/Nav.test.js
  src/tests/RepositoryGoals.test.js
Due: eslint --fix

perf: optimize all svg images using static script
  src/icons/alert-circle.svg
  src/icons/alert-triangle.svg
  src/icons/anchor.svg
  src/icons/anchorWithBorder.svg
  src/icons/archive.svg
  src/icons/check.svg
  src/icons/chevron-down.svg
  src/icons/chevron-left.svg
  src/icons/chevron-right.svg
  src/icons/chevron-up.svg
  src/icons/copy.svg
  src/icons/edit.svg
  src/icons/github.svg
  src/icons/home.svg
  src/icons/log-in.svg
  src/icons/log-out.svg
  src/icons/monitor.svg
  src/icons/mortar-board.svg
  src/icons/plus.svg
  src/icons/rocket.svg
  src/icons/save.svg
  src/icons/search.svg
  src/icons/searchDark.svg
  src/icons/squirrel.svg
  src/icons/star.svg
  src/icons/watch.svg
  src/illustrations/undrawDevProductivity.svg
  src/illustrations/undrawDiary.svg
  src/illustrations/undrawDoneChecking.svg
  src/images/404.svg
  src/images/darkMode.svg
  src/images/gitTrends.svg
  src/images/lightMode.svg
  src/images/pizza-n-sauce.svg
  src/images/pizza.svg
  src/images/remirror.svg
  src/images/sauce.svg
  src/images/sauced.svg
  src/images/themeAuto.svg
  src/logos/logo.svg
Due: none

refactor: clean up action workflows and address storybook vulnerabilities
  .github/workflows/codeql-analysis.yml
  .github/workflows/compliance.yml
  .github/workflows/development.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  .github/workflows/triage.yml
Due: none

docs: make the readme more concise to the project scope and development
  README.md
Due: none

ci: add better testing workflow and reuse it in release
  .github/workflows/development.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  4579dc7281edd078b149e8cc75f44eac7863afe6
Due: none

build: attempt to unblock releases
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
