Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

fixes lint error
  src/containers/Goals.js
Due: eslint --fix

Update package.json
  package.json
Due: none

bump version
  package.json
Due: none

Update nodejs.yml
  .github/workflows/nodejs.yml
Due: none

removes console.log
  src/components/Header.js
Due: eslint --fix

adds gradient and card components
  .gitignore
  src/components/DumbCard.js
  src/styles/Card.js
  src/styles/Gradient.js
  src/styles/variables.js
  stories/0-Welcome.stories.js
  stories/2-Card.stories.js
  stories/3-Primitives.stories.js
Due: eslint --fix

Header
  src/icons/anchor.svg
  src/icons/anchorWithBorder.svg
  src/icons/index.js
  src/images/face.png
  src/images/index.js
  src/images/one.png
  src/index.css
  src/styles/Avatar.js
  src/styles/Grid/Flex.js
  src/styles/Grid/index.js
  src/styles/Header/Heading.js
  src/styles/Header/SubHeading.js
  src/styles/Header/index.js
  stories/3-Primitives.stories.js
  stories/4-Headers.stories.js
Due: eslint --fix, stylefmt

updates button
  src/containers/NoteForm.js
  src/styles/Button.js
  src/styles/variables.js
  stories/1-Button.stories.js
Due: eslint --fix

add footer
  src/icons/index.js
  src/icons/sauced.svg
  stories/4-Headers.stories.js
  stories/5-Footers.stories.js
Due: eslint --fix

remove unused variables
  src/styles/Gradient.js
Due: eslint --fix

replace footer and header
  src/App.js
  src/components/Card.js
  src/components/DashboardFooter.js
  src/components/ListGoals.js
  src/components/Login.js
  src/styles/Button.js
  src/styles/Footer.js
  stories/5-Footers.stories.js
Due: eslint --fix

mobile friendly header and notes
  src/components/Header.js
  src/containers/Repository.js
  src/styles/Grid/Flex.js
  src/styles/Grid/index.js
  src/styles/Header/SimpleHeader.js
  src/styles/Header/index.js
  src/styles/mediaTemplates.js
Due: eslint --fix

fix the header
  package.json
  src/components/Header.js
  src/index.css
  src/styles/Grid/Float.js
  src/styles/Grid/index.js
Due: eslint --fix, stylefmt

adds background
  package-lock.json
  src/styles/Background.js
  stories/2-Card.stories.js
  stories/3-Primitives.stories.js
Due: eslint --fix

Repo Cards
  package.json
  src/components/DumbCard.js
  src/components/RepoListItem.js
  src/styles/Avatar.js
  src/styles/Button.js
  src/styles/Card.js
  src/styles/Grid/Flex.js
  src/styles/Grid/FlexCenter.js
  src/styles/Grid/index.js
  src/styles/Label.js
  src/styles/List.js
  src/styles/variables.js
  stories/2-Card.stories.js
Due: eslint --fix

styled lists
  src/components/Card.js
  src/components/ListGoals.js
  src/components/RepoListItem.js
  src/containers/Issues.js
  src/styles/Avatar.js
  src/styles/Button.js
  src/styles/Card.js
  src/styles/Grid/FormColumn.js
  src/styles/List.js
  stories/2-Card.stories.js
Due: eslint --fix

fix mobile view
  src/components/Login.js
  src/styles/Container.js
  src/styles/Grid/Flex.js
  src/styles/Grid/index.js
  src/styles/Label.js
Due: eslint --fix

update note style
  src/containers/NewRepoForm.js
  src/containers/NoteForm.js
  src/index.css
  src/styles/Button.js
  src/styles/Grid/IssuesColumn.js
  src/styles/Input.js
  src/styles/TextArea.js
  stories/1-Button.stories.js
  stories/2-Card.stories.js
Due: eslint --fix, stylefmt

add repo form
  src/components/AddRepoForm.js
  src/components/Header.js
  src/components/ListGoals.js
  src/styles/Button.js
  src/styles/Card.js
  src/styles/Grid/Flex.js
  src/styles/Grid/index.js
  src/styles/Input.js
  src/styles/List.js
  stories/2-Card.stories.js
Due: eslint --fix

removes card for now, waiting on funcitonality
  src/components/ListGoals.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
