Repository open-sauced/open-sauced: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylefmt

Revert "chore(deps-dev): bump jest-axe from 4.1.0 to 5.0.1 (#1071)"
  npm-shrinkwrap.json
  package.json
Due: none

docs: add gh-pages static generated developer documentation
  .github/workflows/ci.yml
  FAQ.md
  docs/.gitignore
  docs/.npmrc
  docs/DOC_CONTRIBUTING.md
  docs/README.md
  docs/docs/contributing/code-of-conduct.md
  docs/docs/contributing/getting-started.md
  docs/docs/contributing/triage-guide.md
  docs/docs/introduction.md
  docs/docs/storybook/getting-started.md
  docs/docs/styling/dark-mode.md
  docs/docusaurus.config.js
  docs/learnwithjason.md
  docs/npm-shrinkwrap.json
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/markdown-page.md
  docs/static/.nojekyll
  docs/static/CNAME
  docs/static/favicon.ico
  docs/static/img/logo.svg
  docs/static/img/what-is-opensauced.png
  public/manifest copy.json
Due: eslint --fix, stylefmt

build(npm): compartimentalize linting to source folders
  package.json
  src/lib/truncate.test.js
  src/lib/validateToken.test.js
  src/service-worker.js
  src/tests/AddRepoForm.test.js
  src/tests/CreateGoals.test.js
  src/tests/NoteForm.test.js
  src/tests/util.test.js
Due: eslint --fix

ci(docs): optimise docusaurus build by dropping webpack
  .github/workflows/ci.yml
Due: none

fix: add proper docusaurus config metadata
  docs/docusaurus.config.js
Due: eslint --fix

chore: fix lint issues
  .eslintrc.yml
  config/webpack.config.js
  config/webpackDevServer.config.js
  package.json
  scripts/build.js
  scripts/start.js
  stories/1-Button.stories.js
  stories/2-Card.stories.js
  stories/3-Primitives.stories.js
  stories/6-Home.stories.js
  stories/7-Misc.stories.js
Due: eslint --fix

fix(ci): docusaurus needs build step now
  .github/workflows/ci.yml
Due: none

fix(ci): docusaurus should run only on successful push to main
  .github/workflows/ci.yml
Due: none

build(npm): dedupe overriden packages from top level package.json
  .babelrc
  .storybook/main.js
  npm-shrinkwrap.json
  package.json
Due: eslint --fix

fix(npm): dedupe storybook addons accurately
  npm-shrinkwrap.json
  package.json
Due: none

build(npm): update testing libraries
  npm-shrinkwrap.json
  package.json
Due: none

build(npm): update jest breaking react 16 polyfill
  config/polyfills.js
  npm-shrinkwrap.json
  package.json
Due: eslint --fix

build(npm): update graphql-js to latest version
  npm-shrinkwrap.json
  package.json
Due: none

ci(workflow): add 'npm' cache for actions/setup-node in .github/workflows
  .github/workflows/ci.yml
Due: none

docs: add pull request conflict resolution mini tutorial
  .eslintrc.yml
  docs/docs/contributing/resolve-merge-conflicts.md
  docs/sidebars.js
  docs/static/img/contributing-resolve-merge-conflicts-commit-message.png
  docs/static/img/contributing-resolve-merge-conflicts-dont-do.png
  docs/static/img/contributing-resolve-merge-conflicts-merge-conflicts.png
  docs/static/img/contributing-resolve-merge-conflicts-merge-success.png
  docs/static/img/contributing-resolve-merge-conflicts-ready-to-merge.png
  docs/static/img/contributing-resolve-merge-conflicts-review-conflicts.png
  docs/static/img/contributing-resolve-merge-conflicts-view-merge-commit.png
Due: eslint --fix

fix: pin down actions/node-setup to v2.1.5
  .github/workflows/ci.yml
Due: none

feat: comment for assign yourself
  .github/workflows/assign-yourself.yml
Due: none

unpersist the goal query
  src/components/Repository.js
  src/lib/apiGraphQL.js
Due: eslint --fix

fix: take proper parameter for FetchGoals mutation
  src/components/NoteForm.js
  src/components/Repository.js
Due: eslint --fix

fix: display note form only when we have a note ready
  src/components/NoteForm.js
  src/components/Repository.js
Due: eslint --fix

fix: proper useEffect switch for notes input
  src/components/NoteForm.js
  src/components/Repository.js
Due: eslint --fix

Deploying to storybook-static from @ 6ac20a8b6d20b0edeb2fe0b01137ce5f7996117d 🚀
  0.06d7d875.iframe.bundle.js
  0.107747920d98a438592c.manager.bundle.js
  4.8706415334a725e3506d.manager.bundle.js
  4.8706415334a725e3506d.manager.bundle.js.LICENSE.txt
  4.ed1fc4e5.iframe.bundle.js
  4.ed1fc4e5.iframe.bundle.js.LICENSE.txt
  4.ed1fc4e5.iframe.bundle.js.map
  5.5928413b.iframe.bundle.js
  5.eab33031eb1c66060d8d.manager.bundle.js
  6.d586e3f2.iframe.bundle.js
  6.d586e3f2.iframe.bundle.js.LICENSE.txt
  6.d586e3f2.iframe.bundle.js.map
  6.f36cbfc6f44f030b7457.manager.bundle.js
  6.f36cbfc6f44f030b7457.manager.bundle.js.LICENSE.txt
  7.bd672f7bcac59071b24b.manager.bundle.js
  7.d4a92c5c.iframe.bundle.js
  8.273c9ba625a6e8999c3d.manager.bundle.js
  iframe.html
  index.css
  index.html
  main.05ea4f70424b3ce00dca.manager.bundle.js
  main.3ab4a0d2.iframe.bundle.js
  main.js
  preview-head.html
  preview.js
  runtime~main.21f84fdfc99115006a50.manager.bundle.js
  runtime~main.bd8e7fda.iframe.bundle.js
  static/media/darkMode.c1ff09f9.svg
  static/media/lightMode.b97a9c50.svg
  static/media/npm.fc2f5834.png
  static/media/themeAuto.8d6d1e2b.svg
  vendors~main.0c168216.iframe.bundle.js
  vendors~main.0c168216.iframe.bundle.js.LICENSE.txt
  vendors~main.0c168216.iframe.bundle.js.map
  vendors~main.dc7778e1f26ad5aa3425.manager.bundle.js
  vendors~main.dc7778e1f26ad5aa3425.manager.bundle.js.LICENSE.txt
Due: eslint --fix, stylefmt

Merge remote-tracking branch 'upstream/main' into 1053-storybook-dark-mode
  docs/docs/contributing/fetching-data-from-github.md
  docs/sidebars.js
Due: eslint --fix

build(npm): update some minor deps
  npm-shrinkwrap.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylefmt: any of: *.css
